@tailwind base;
@tailwind components;
@tailwind utilities;

.my-custom-bg-class{
  background-image: url('./assets/images/background1.png');
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


/* Custom scrollbar styles */
    /* For Webkit-based browsers (Chrome, Safari) */
    ::-webkit-scrollbar {
      width: 12px;
    }
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    ::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 6px;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    /* For Firefox */
    /* Note: Firefox requires some additional pseudo-elements */
    /* Note: This may not work perfectly in all versions of Firefox */
    /* You may need to experiment with it */
    * {
      scrollbar-color: #888 #f1f1f1;
    }
